/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   }

.cart-item{
  font-size: small;

}
.filters{
  font-size: small;
  background-color: aquamarine;
}

.card, .form-control, .btn{
  border-radius: 0;
}

.list-group-item:first-child{
border-top-right-radius: 0;
border-top-left-radius: 0;
}

.list-group-item:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.product-btn{
  font-size: smaller;
}
.cart-btn{
  font-size: smaller;
  border-radius: 50%;
}
.auth-btn{
  border-radius: 4px;
  border-radius: 4px;
}

